.container {
    background: pink;
    height: 25vh;
    width: 80vw;
    padding: 0.5em;
    margin: 25vh auto 0;

    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

.item {
    background: lightblue;
    margin: .5em;
}

.one {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    order: 1;
}

.two {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    align-self: flex-end;
    order: 1;
}

.three {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
}